:root {
  --white: white;
  --black: black;
  --navy: navy;
}

/*Fonts, backgrounds, etc. applied to all or most elements */
* {
  font-family: "Lexend Deca", sans-serif;
}

body {
  background: linear-gradient(#648de6, #3e1ef7);
}

/*Header Related Element Stylings*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  width: 100%;
  background-color: hsl(240, 50%, 35%);
}

header h1 {
  margin: 2px;
  padding: 2px;
  color: var(--white);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  text-decoration: none;
  margin: 5px;
  padding: 7px;
  float: right;
  font-size: large;
}

header nav ul li a {
  color: white;
}

header a {
  text-decoration: none;
}

header nav ul li :hover {
  border: var(--black) 3px solid;
  color: var(--black);
  background-color: orangered;
  font-size: larger;
}

/*Styling for "About me" Section*/
.about-me-headline {
  color: var(--navy);
  text-align: center;
}

.bio-box {
  display: flex;
  width: 100%;
  max-height: 200px;
}

.profile-pic {
  box-shadow: 10px 10px 10px grey;
  border: 2px solid var(--black);
  margin: 5px;
}

.bio {
  max-width: 300px;
  margin: 10px;
}

/*Styling for "My Work" Section*/

.my-work-headline {
  color: var(--navy);
  text-align: center;
}

/*Settings for FlexBox Cards Hosting Links */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column {
  padding: 5px;
}

/*Specialized Styling for First (Larger) item*/

.robot-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: var(--black) solid 2px;
  height: 750px;
  width: 750px;
}

.robot-text-container {
  background-color: lightslategray;
  height: 100%;
  width: 100%;
  border: solid var(--black) 1px;
  flex: 1 2 0;
}

.robot-card p {
  background-color: lightslategray;
  text-align: center;
  color: white;
  margin-top: 100px;
  flex: 1 2 0;
  font-size: large;
}

.robot-style-image {
  height: 100%;
  width: 100%;
  flex: 1 2 0;
}

.robot-style-image:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

/*Card Setting Set at Fixed Height and Width for all other items to Keep Cards Same Size*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: var(--black) solid 2px;
  height: 400px;
  width: 400px;
}

.text-container {
  background-color: lightslategray;
  height: 100%;
  width: 100%;
  border: solid var(--black) 1px;
}

.card p {
  background-color: lightslategray;
  text-align: center;
  color: white;
  margin-top: 55px;
}

.style-image {
  height: 100%;
  width: 100%;
  max-height: 280px;
}

/*Image Interaction*/

.style-image:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

/*Styling for "My Contacts" Section*/
.contact-me-headline {
  color: navy;
  text-align: center;
}

.contact-box {
  min-height: 25px;
  width: 100%;
  text-align: center;
  background-color: hsl(240, 50%, 35%);
}

.contact-list {
  list-style-type: none;
}

.contact-list li {
  display: inline;
  margin-top: 5px;
  padding: 10px;
  color: var(--white);
}

.contact-list li a {
  display: inline;
  margin: 5px;
  color: var(--white);
  text-decoration: none;
}

.directions {
  text-align: center;
  color: navy;
}

.card-link {
  text-decoration: none;
}

/*Footer Settings*/
.footer {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

/*Media Queries to Better Manage Small Screens*/
@media screen and (max-width: 800px) {
  header nav ul li {
    float: center;
    line-height: 20%;
  }

  .bio-box {
    font-size: smaller;
  }

  .contact-box {
    float: center;
    transform: scale(25%);
  }

  .footer {
    transform: scale(25%);
  }
}
