/*Fonts, backgrounds, etc. applied to all or most elements */
* {
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: lightblue;
}

/*Header Related Element Stylings*/
header {
  height: 50px;
  width: 100%;
  background-color: hsl(240, 50%, 35%);
}

header h1 {
  display: inline;
  float: left;
  margin: 2px;
  padding: 2px;
  color: white;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  text-docoration: none;
  margin: 5px;
  padding: 7px;
  float: right;
  font-size: large;
}

header nav ul li a {
  color: white;
}

header a {
  text-decoration: none;
}

/*Styling for "About me" Section*/

#about-me {
  display: flex;
  height: 400px;
}

.about-me-headline {
  height: 200px;
  width: 150px;
  padding-top: 140px;
  padding-left: 10px;
  border-right: solid black 3px;
}

.profile-pic {
  display: inline;
  height: 200px;
  padding-top: 50px;
  padding-left: 50px;
}

.bio {
  padding-top: 100px;
  padding-left: 20px;
  height: 20px;
  width: 1000px;
}
